<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uchain.cip.mapper.ResourceMapper">

    <resultMap id="BaseResultMap" type="com.uchain.cip.pojo.Resource">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="ownerId" column="owner_id" jdbcType="BIGINT"/>
            <result property="postType" column="post_type" jdbcType="INTEGER"/>
            <result property="resourceName" column="resource_name" jdbcType="VARCHAR"/>
            <result property="resourceType" column="resource_type" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="contactInformation" column="contact_information" jdbcType="VARCHAR"/>
            <result property="money" column="money" jdbcType="DOUBLE"/>
            <result property="interlink" column="interlink" jdbcType="VARCHAR"/>
            <result property="createDateTime" column="create_date_time" jdbcType="TIMESTAMP"/>
            <result property="views" column="views" jdbcType="INTEGER"/>
            <result property="comments" column="comments" jdbcType="INTEGER"/>
            <result property="hot" column="hot" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,owner_id,post_type,
        resource_name,resource_type,description,
        contact_information,money,interlink,
        create_date_time,views,comments,
        hot
    </sql>
</mapper>
