<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uchain.cip.dao.ThingMapper">

    <resultMap id="BaseResultMap" type="com.uchain.cip.pojo.Thing">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="money" column="money" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,type,
        title,content,money
    </sql>
    <insert id="add" parameterType="com.uchain.cip.pojo.Thing" >
        insert into thing(user_id,type,title,content,money,create_date_time,views,comments_num) values (#{userId}, #{type}, #{title}, #{content}, #{money},#{createDateTime},#{views},#{commentsNum});
    </insert>
    <delete id="deleteByid" parameterType="integer">
        delete from thing  where  id = #{id};
    </delete>


</mapper>
