<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uchain.cip.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.uchain.cip.pojo.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="headPicture" column="head_picture" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="grade" column="grade" jdbcType="INTEGER"/>
            <result property="department" column="department" jdbcType="VARCHAR"/>
            <result property="major" column="major" jdbcType="VARCHAR"/>
            <result property="gpa" column="GPA" jdbcType="DOUBLE"/>
            <result property="registerDateTime" column="register_date_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,email,nick_name,
        password,type,head_picture,
        gender,description,grade,
        department,major,GPA,
        register_date_time
    </sql>

    <select id="getUserByNickNameOrEmail" resultType="com.uchain.cip.pojo.User">
        SELECT * FROM user WHERE nick_name = #{nickNameOrEmail} OR email = #{nickNameOrEmail};
    </select>
</mapper>
